body {
    padding-top: 6rem;
    background: -webkit-linear-gradient(left, #5d41ff, #fa4299)!important;
}

.card-title {
    margin-bottom: 0;
}

.navbar.bg-dark {
    background-color: #d292fc!important;
}
.nav.nav-pills > li {
    cursor: pointer;
}


.btn-secondary {
    color: #fff;
    background-color: #d292fc;
    border-color: #d292fc;

[contentEditable=true]:empty:not(:focus)::before {
    content:attr(data-placeholder)
}

[contenteditable=true]:focus {
    outline: 2px solid #6caf9c;
}

#todos-container {
    height: auto !important;
}

#map {
    height: 300px;
    border-radius: .4rem;
}
